/* ADD YOUR STYLES HERE */
.flexbaby{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lets-center{
    padding-top: 100px;
    padding-bottom: 100px;
}
.buy-now{
   display: inline-block;
   /*border: 1px solid black;*/
   background: red;
   padding: 20px 60px;
   border-radius: 7px;
   color: white;
   font-size: 25px;
   text-decoration: none;
   vertical-align: middle;
   opacity: .5;
   /*position: relative;*/
   margin: auto;
 }
 .learn-more{
   display: inline-block;
   /*border: 1px solid black;*/
   background: red;
   padding: 10px 40px;
   border-radius: 7px;
   color: white;
   font-size: 17px;
   text-decoration: none;
   vertical-align: middle;
   opacity: .5;
   /*position: absolute;*/
 }
 .ok-button{
   display: inline-block;
   /*border: 1px solid black;*/
   background: red;
   padding: 5px 10px;
   border-radius: 7px;
   color: white;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   opacity: .5;
   /*position: absolute;*/   
 }
 .learn-two{
   display: inline-block;
   /*border: 1px solid black;*/
   background: red;
   padding: 10px 40px;
   border-radius: 7px;
   color: white;
   font-size: 17px;
   text-decoration: none;
   vertical-align: middle;
   opacity: .5;
   /*position: absolute;*/
   border-style: solid;
   border: none;
 }
.unordered{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 85%;
     padding: 7px 10px;
     background-color: red;
     opacity: .5;
     vertical-align: middle;
     border-radius: 7px;
     list-style: none;
 }
.list-stuff{
     color: white;
     font-size: 17px;
     text-decoration: none;
}
.unordered > li :hover{
     color: green;
}

.more-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    list-style: none;

/*set the content of table into rows and justify content*/
}

.more-flex span{
    font-size: 20px;
    color: gray; 
    padding: 10px;
    /*opacity: .4; */
    /*border-bottom: 3px solid gray;*/
    /*padding-bottom: 3px;*/
    box-sizing: border-box;
    
}

/*style the numbers*/
.list-stuff-again{
    font-size: 20px;
    color: red; 
    padding: 10px;
    /*opacity: .4;*/
    text-decoration: none;
    
/*style PREV and NEXT content*/
}
.list-stuff-not{
    font-size: 20px;
    color: red; 
    padding: 10px;
    opacity: .4;
    text-decoration: none;
}
.first-bottom{
    border-bottom: 3px solid red;
    opacity: .4;
    box-sizing: border-box;
}
.another-bottom{
    border-bottom: 3px solid gray;
    opacity: .4;
    box-sizing: border-box;  
}
.good-article{
    overflow: hidden;
    padding-left: 10px;
}
.timestamp{
    font-size: 13px;
    color: gray;
    opacity: .7;
}
.anotherfloat{
    float: left;
    clear: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.more-article{
    overflow: hidden;
    padding-left: 10px;
    position:relative;
    padding-top: 48px;
}
.ugh-article{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tabcontent{
    border: 1px solid skyblue;
    border-radius: 7px;
    justify-content: center;
    padding: 15px;
}
.working-tabs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}
.tabs{
    position: relative;
    padding: 5px 10px 0 10px;
    border: 1px solid skyblue;
    border-radius: 7px 7px 0 0;
    box-sizing: border-box;
    border-bottom: hidden;
    margin: 0 5px 0 5px;
}
.tabs :active{
    border-bottom: 2px solid white;
    z-index: 2;
    
}
.tabstext{
    text-decoration: none;
    color: blue;
    font-size: 17px;
    font-weight: 700;
}