/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front{
	/*position: relative;*/
	opacity: 1;
}
.back{
	position: relative;
	top:-200px;
	opacity: 0;
}
.front :hover{
	opacity: 0;
}
.back :hover{
	opacity: 1;
}
