/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front{
	position: relative;
	/*z-index: 2;*/
	perspective: 1000px;
	backface-visibility: hidden;

}
.portfolio-item:hover{
	transition-duration: 1s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}
.back{
position: relative;
	top: -200px;
	/*visibility: hidden;*/
	perspective: 1000px;
	backface-visibility: hidden;
	perspective: 1000px;
	transform: rotateY(180deg);
}
/*.front:hover{
	transition-duration: 1s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	z-index: 0;
}

.back:hover{
	transition-duration: 1s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
	z-index: 2;
}*/
